<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link
      href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
    <title>Shop Chain</title>
  </head>
  <body>
    <h1>Welcome to Shop Chain, your local Super Store.</h1>
    <a href="product/new"><i class="icon-plus"></i> Add to inventory</a>

    <main>
      <% for (product of products) { %>

      <article>
        <a href="/product/<%= product._id %>"
          ><img src="<%= product.img %>"
        /></a>
        <h2>
          <p>Price</p>
          <%=product.price %>
        </h2>
        <h2>
          <p>Available Inventory</p>
          <%=product.qty %>
        </h2>
        <a class="btn btn-success" href="/product/buy/<%= product._id %> ">
          <i class="icon-shopping-cart icon-large"></i> Buy</a
        >
      </article>
      <% } %>
    </main>
  </body>
</html>
